<br>
<br>
<br>
<br>

    <div class="text-center mb-5">
         <img src="/{{team.image}}" alt="" class="img-fluid rounded-circle w-50 mb-4">
        <h4>{{team.title}}</h4>
        <span class="d-block mb-3 text-uppercase">{{team.designation}}</span>
        <p>{{team.biography}}</p>
    </div>      
