    <div class="col-lg-4 text-center mb-5">
         <img src="image/frontend/person-1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
        <h4>Cameron Williamson</h4>
        <span class="d-block mb-3 text-uppercase">Founder &amp; CEO</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
    </div>      