<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>About Section</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item"><a href="/admin/blog">About</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Add About</h5>

            <!-- General Form Elements -->
            <form method="post" action="/admin/about/store" enctype="multipart/form-data">

              <div class="row mb-3">
                <label for="image1" class="col-sm-2 col-form-label">First Image</label>
                <div class="col-sm-10">
                  <input class="form-control" type="file" name="image1">
                </div>
              </div>


              <div class="row mb-3">
                <label for="history" class="col-sm-2 col-form-label">Company History</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" name="history" placeholder="Write about your Company History"
                    style="height: 100px"></textarea>
                </div>
              </div>


              {{!-- <div class="row mb-3">
                <label for="history" class="col-sm-2 col-form-label">Company History</label>
                <div class="col-sm-10">
                  <input type="text" name="history" placeholder="Company history" class="form-control">
                </div>
              </div> --}}

              <div class="row mb-3">
                <label for="image2" class="col-sm-2 col-form-label">Second Image</label>
                <div class="col-sm-10">
                  <input class="form-control" type="file" name="image2">
                </div>
              </div>

              <div class="row mb-3">
                <label for="mission" class="col-sm-2 col-form-label">Company mission</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" name="mission" placeholder="Write about your Company Mission"
                    style="height: 100px"></textarea>
                </div>
              </div>

              <div class="row mb-3">
                <div class="d-flex justify-content-center">

                  <button type="submit" class="btn btn-outline-success m-2 shadow">Post</button>
                  <button type="reset" class="btn btn-outline-danger m-2 shadow">Reset</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

</body>