<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Blog</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/blog">
            <i class="bi bi-circle"></i><span>All Blog</span>
          </a>
        </li>
        <li>
          <a href="/admin/blog/create">
            <i class="bi bi-circle"></i><span>New Blog</span>
          </a>
        </li>
      </ul>
    </li><!-- End Blog Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people"></i><span>Team</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/team">
            <i class="bi bi-circle"></i><span>Team List</span>
          </a>
        </li>
        <li>
          <a href="/admin/team/create">
            <i class="bi bi-circle"></i><span>Add Member</span>
          </a>
        </li>
      </ul>
    </li><!-- End Team Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-star-half"></i><span>Testimonial</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/testimonial">
            <i class="bi bi-circle"></i><span>All Testimonials</span>
          </a>
        </li>
        <li>
          <a href="/admin/testimonial/create">
            <i class="bi bi-circle"></i><span>New Testimonial</span>
          </a>
        </li>
      </ul>
    </li><!-- End Testimonial Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#about-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-file-earmark-person-fill"></i><span>About</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="about-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/about">
            <i class="bi bi-circle"></i><span>All abouts</span>
          </a>
        </li>
        <li>
          <a href="/admin/about/create">
            <i class="bi bi-circle"></i><span>New about</span>
          </a>
        </li>
      </ul>
    </li><!-- End About Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#contact-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-file-earmark-person-fill"></i><span>Contact</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="contact-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/contact">
            <i class="bi bi-circle"></i><span>All contacts</span>
          </a>
        </li>
        <li>
          <a href="/admin/contact/create">
            <i class="bi bi-circle"></i><span>New contact</span>
          </a>
        </li>
      </ul>
    </li><!-- End About Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-link-45deg"></i><span>Social link</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-bootstrap.html">
            <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
          </a>
        </li>
        <li>
          <a href="icons-remix.html">
            <i class="bi bi-circle"></i><span>Remix Icons</span>
          </a>
        </li>
      </ul>
    </li><!-- End Social Media Link Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/">
        <i class="bi bi-question-circle"></i>
        <span>View Website</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

  </ul>

</aside><!-- End Sidebar-->