<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>New Blog</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="admin">Home</a></li>
          <li class="breadcrumb-item">Blog</li>
          <li class="breadcrumb-item active">New Blog</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Post a new Blog</h5>

            <!-- General Form Elements -->
            <form method="POST" action="/admin/blog/store">
              <div class="row mb-3">
                <label for="title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" name="title" id="title" placeholder="Blog Title" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="slug" class="col-sm-2 col-form-label">Slug</label>
                <div class="col-sm-10">
                  <input type="text" name="slug" id="slug" placeholder="Slug" class="form-control">
                </div>
              </div>

              <div class="row mb-3">
                <label for="image" class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                  <input  class="form-control" type="file" id="image" name="image" >
                </div>
              </div>

              <div class="row mb-3">
                <label for="details" class="col-sm-2 col-form-label">Details</label>
                <div class="col-sm-10">
                  <textarea class="form-control" style="height: 100px"></textarea>
                </div>
              </div>

              <div class="row mb-3">
                <div class="d-flex justify-content-center">
                  
                  <button type="submit" class="btn btn-outline-success m-2 shadow">Post</button>
                  <button type="reset" class="btn btn-danger m-2 shadow">Reset</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->


          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

</body>