<main id="main" class="main">

  <div class="pagetitle">
    <h1>Testimonails</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item">Team</li>
        <li class="breadcrumb-item active">All blog</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section>
    <div class="container container-fluid shadow">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Tittle</th>
            <th>Details</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>hell</td>
            <td>hell.png</td>
            <td>hello</td>
            <td>
              <a href="/admin/blog/1/edit" class="btn btn-outline-warning btn-sm"><i
                  class="bi bi-pencil-square"></i></a>
              <a href="/admin/blog/1/view" class="btn btn-outline-success btn-sm"><i class="bi bi-eye-fill"></i></a>
              <a href="/admin/blog/1/delete" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash3-fill"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <!-- End Tables without borders -->

</main><!-- End #main -->