<br>
<br>
<br>
<br>

    <div class="text-center mb-5">
         <img src="/{{testimonial.image}}" alt="" class="img-fluid rounded-circle w-50 mb-4">
        <h4>{{testimonial.title}}</h4>
        <span class="d-block mb-3 text-uppercase">{{testimonial.designation}}</span>
        <p>{{testimonial.details}}</p>
    </div>      
