<!DOCTYPE html>
<html lang="en">

    {{>backend/head}}
    
<body>

    {{>backend/_header}}

    {{>backend/sidebar}}

{{{body}}}

    {{>backend/__footer}}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    {{>backend/script}}

</body>

</html>