<main id="main" class="main">

    <div class="pagetitle">
        <h1>Blogs</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item">Social Link</li>
                <li class="breadcrumb-item active">all link</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section>
        <div class="container container-fluid shadow">
            <div class="table table-stirped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Link</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>facebook</td>
                        <td>https://facebook.com/masumkazi.1829</td>
                        <td>
                            <a href="/admin/link/1/edit" class="btn btn-outline-warnig btn-sm"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a href="/admin/link/1/view" class="btn btn-outline-success btn-sm"><i
                                    class="bi bi-eye-fill"></i></a>
                            <a href="/admin/link/1/delete" class="btn btn-outline-danger btn-sm"><i
                                    class="bi bi-trash3-fill"></i></a>
                        </td>
                    </tr>
                </tbody>
            </div>
        </div>
    </section>

</main><!-- End #main -->