  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>The page you are looking for doesn't exist.</h2>
        <a class="btn" href="/admin">Back to home</a>
        <img src="/image/backend/not-found.svg"Page Not Found">
        {{!-- <div class="credits">
          Designed by <a href="https://github.com/masumkazibd">Masum Kazi</a>
        </div> --}}
      </section>

    </div>
  </main><!-- End #main -->